{% extends "base.html" %}
{% block content %}

<main class="main">
  <!-- Page Title -->
  <div class="page-title light-background">
    <div class="container">
      <h1>My Gallery</h1>
    </div>
  </div><!-- End Page Title -->

  <!-- Gallery Detail Section -->
  <section id="gallery-detail" class="gallery-detail section">
    <div class="container">
      <div class="row justify-content-center align-items-start">
        
        <!-- Gallery Information -->
       
          <div class="gallery-info p-4" style="background-color: #C9F4B8; border-radius: 15px;">
            <h2 class="gallery-title">Monstera Thai Constellation</h2>
            <p>This is my first monstera thai constellation! I really like it &lt;3</p>
            <div class="btn-group mt-4">
              <button class="btn btn-outline-dark"><i class="bi bi-pencil"></i> Edit Gallery</button>
              <button class="btn btn-outline-dark"><i class="bi bi-trash"></i> Delete Gallery</button>
              <button class="btn btn-outline-dark"><i class="bi bi-plus-circle"></i> Add New Image</button>
            </div>
          </div>
      
 <!-- Team Section -->
    <section id="team" class="team section">

      <div class="site-section slider-team-wrap">
        <div class="container">

          <div class="slider-nav d-flex justify-content-end mb-3">
            <a href="#" class="js-prev js-custom-prev"><i class="bi bi-arrow-left-short"></i></a>
            <a href="#" class="js-next js-custom-next"><i class="bi bi-arrow-right-short"></i></a>
          </div>

          <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "1",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "navigation": {
                  "nextEl": ".js-custom-next",
                  "prevEl": ".js-custom-prev"
                },
                "breakpoints": {
                  "640": {
                    "slidesPerView": 2,
                    "spaceBetween": 30
                  },
                  "768": {
                    "slidesPerView": 3,
                    "spaceBetween": 30
                  },
                  "1200": {
                    "slidesPerView": 3,
                    "spaceBetween": 30
                  }
                }
              }
            </script>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="team">
                  <div class="pic">
                    <img src="../static/img/img_h_8.jpg" alt="Image" class="img-fluid">
                  </div>
                  <h3 clas=""><span class="">Lawson</span> Arnold</h3>
                  <p class="mb-0">
                    <a href="#" class="more dark">Delete <span class="bi bi-x-circle"></span></a>
                    <a href="#" class="more dark">Submit <span class="bi bi-check-circle"></span></a>
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team">
                  <div class="pic">
                    <img src="../static/img/img_h_8.jpg" alt="Image" class="img-fluid">
                  </div>
                  <h3 clas=""><span class="">Lawson</span> Arnold</h3>
                  <p class="mb-0">
                    <a href="#" class="more dark">Delete <span class="bi bi-x-circle"></span></a>
                    <a href="#" class="more dark">Submit <span class="bi bi-check-circle"></span></a>
                  </p>
                </div>
              </div>
              
              <!-- <div class="swiper-slide"></div> -->
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
    </section><!-- /Team Section -->

      </div>
    </div>
  </section><!-- /Gallery Detail Section -->

</main>

{% endblock %}


