<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Vision - Register</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="register-container">
        <div class="logo">
            <img src="../static/img/logo.png" alt="Plant Vision Logo">
        </div>
        <form class="register-form">
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="New Password" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Retype Password" required>

            <button type="submit">Register</button>

            <div class="links">
                <a href="#">Login Account</a>
            </div>
        </form>
    </div>
</body>
</html>
